__py*
*.mlpackage*
*venv*
*.onnx
*.pt
*.json
*.patch
*.DS*
.venv
input/*
output/*

# TensorRT cache
.trt_cache/
*.engine
*.timing

# CoreML cache
.coreml_cache/

.env
data/
.llama_logs/
llama.cpp
*.tar
